.about-main {
  width: 100%;
  height: 100vh;
  background-color: #f0efeb;
}
.about-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("./image/aboutimage.jpg");
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 10px;
}
.about-left img {
  width: auto;
  height: 300px;
  border-radius: 50%;
}
.typical-text {
  color: #ffc300;
  font-size: 25px;
  font-weight: 600;
  text-shadow: 2px 3px 2px #f0efeb;
  position: absolute;
}

/* meadia quire css style//phone */
@media screen and (max-width: 550px) {
  .typical-text {
    font-size: 18px;
  }
}
